{% extends "ideas/base.html" %}
{% load static %}
{% load i18n %}
{% load comments static %}
{% load flag_tags %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'fluent_comments/css/ajaxcomments.css' %}" />
{% endblock extrahead %}
{% block content %}

<div id="idea-share-container">
    <div id="share">
        {% include "share.html" %}
    </div>
    <div class="idea-contents">
        <article id="idea-detail" class="content-section">
            <div class="media-body">
                <div class="idea-metadata">
                    <div class="idea-title">
                        <h1>{{ idea.title }}</h1>
                    </div>
                    <div class="idea-info">
                        {% include "ideas/idea_conceiver.html" %}
                        <small class="text-muted mr-2"
                            title="{{ idea.date_created }}">{% trans "Created" %}: {{ idea.date_created|date:"j M Y" }}</small>
                        {% if idea.date_update %}
                        <small class="text-muted date-modified"
                            title="{{ post.date_updated }}">{% trans "Last modified" %}: {{ post.date_updated|date:"j M Y" }}</small>
                        {% endif %}
                        <div id="post-options">
                        {% render_flag_form idea 'conceiver' %}
                        {% if request.user == idea.conceiver %}
                            <a class="btn btn-secondary btn-sm mt-1 mb-1 ml-2"
                                href="{% url 'ideas:idea-update' idea.slug %}"
                                title={% trans "Update"%}>{% trans "Update"%}</a>
                            <a class="btn btn-danger btn-sm mt-1 mb-1 ml-2"
                                href="{% url 'ideas:idea-delete' idea.slug %}"
                                title={% trans "Delete"%}>{% trans "Delete"%}</a>
                        {% endif %}
                        </div>
                    </div>
                </div>
                <div class="idea-content mt-4">
                    {{ idea.concept | safe | linebreaks }}
                </div>
                {% include "tags.html" with tags=idea.get_tags_list %}
                <div class="idea-comments">
                    {% get_comment_count for idea as comment_count %}
                    <div class="py-3 text-center">
                        <a href="{% url 'ideas:home' %}">{% trans "Return Home" %}</a>
                        &nbsp;&sdot;&nbsp;
                        {{ comment_count }} {% trans "comment" %}{{ comment_count|pluralize }}
                        {% trans "ha" %}{{ comment_count|pluralize:"s,ve" }} {% trans "been posted." %}
                    </div>

                    <div class="idea-comment-list">
                        {% render_comment_list for idea %}
                    <div class="idea-comment-form">
                        <h4 class="card-title text-center pb-3">{% trans "Post your comment" %}</h4>
                        {% render_comment_form for idea %}
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
{% endblock content %}
{% block extrabottom %}
<script type="text/javascript" src="{% static 'fluent_comments/js/ajaxcomments.js' %}"></script>
{% endblock extrabottom %}

