{% extends "ideas/base.html" %}
{% load static %}
{% load comments %}
{% load comments_xtd %}


{% block content %}

<div id="idea-share-container">
    <div id="share">
        {% include "share.html" %}
    </div>
    <div class="idea-contents">
        <article id="idea-detail" class="content-section">
            <div class="media-body">
                <div class="idea-metadata">
                    <div class="idea-title">
                        <h1>{{ idea.title }}</h1>
                    </div>
                    <div class="idea-info">
                        {% include "ideas/idea_conceiver.html" %}
                        <small class="text-muted mr-2"
                            title="{{ idea.date_created }}">Created: {{ idea.date_created|date:"j M Y" }}</small>
                        {% if idea.date_update %}
                        <small class="text-muted date-modified"
                            title="{{ post.date_updated }}">Last modified: {{ post.date_updated|date:"j M Y" }}</small>
                        {% endif %}
                        {% if request.user == idea.conceiver %}
                        <div id="post-options">
                            <a class="btn btn-secondary btn-sm mt-1 mb-1 ml-2"
                                href="{% url 'ideas:idea-update' idea.slug %}"
                                title="Tinker">Tinker</a>
                            <a class="btn btn-danger btn-sm mt-1 mb-1 ml-2"
                                href="{% url 'ideas:idea-delete' idea.slug %}"
                                title="Delete">Delete</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="idea-content mt-4">{{ idea.concept }}</div>
                {% comment %} {% include "tags.html" with tags=post.get_tags_list %} {% endcomment %}
            </div>
        </article>
    </div>
</div>
{% comment %} BEGIN COMMENTS {% endcomment %}
{% get_comment_count for idea as comment_count %}
<div class="py-4 text-center">
  <a href="{% url 'ideas:home' %}">Back to the post list</a>
  &nbsp;&sdot;&nbsp;
  {{ comment_count }} comment{{ comment_count|pluralize }}
  ha{{ comment_count|pluralize:"s,ve" }} been posted.
</div>

<div class="card card-block mb-5">
  <div class="card-body">
    <h4 class="card-title text-center pb-3">Post your comment</h4>
      {% render_comment_form for idea %}
  </div>
</div>

{% if comment_count %}
<ul class="media-list">
  {% render_xtdcomment_tree for idea allow_flagging allow_feedback show_feedback %}
</ul>
{% endif %}
{% comment %} END COMMENTS {% endcomment %}
{% endblock content %}

{% block extrabottom %}
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  crossorigin="anonymous"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"></script>
<script>
  $(function() {
    $('[data-toggle="tooltip"]').tooltip({html: true});
  });
</script>
{% endblock extrabottom %}

