{% extends "ideas/base.html" %}
{% load static %}
{% load i18n %}
{% load flag_tags %}
{% block extrahead %}
<link rel="stylesheet"
  type="text/css"
  href="{% static 'flag/css/flag_style.css' %}"/>
{% endblock extrahead %}
{% block content %}

<div id="idea-share-container">
    <div id="share">
        {% include "share.html" %}
    </div>
    <div class="idea-contents">
        <article id="idea-detail" class="content-section">
            <div class="media-body">
                <div class="idea-metadata">
                    <div class="idea-title">
                        <h1>{{ idea.title }}</h1>
                    </div>
                    <div class="idea-info">
                        {% include "ideas/idea_conceiver.html" %}
                        <small class="text-muted mr-2"
                            title="{{ idea.date_created }}">{% trans "Created" %}: {{ idea.date_created|date:"j M Y" }}</small>
                        {% if idea.date_update %}
                        <small class="text-muted date-modified"
                            title="{{ post.date_updated }}">{% trans "Last modified" %}: {{ post.date_updated|date:"j M Y" }}</small>
                        {% endif %}
                        <div id="post-options">
                        {% render_flag_form idea 'conceiver' %}
                        {% if request.user == idea.conceiver %}
                            <a class="btn btn-secondary btn-sm mt-1 mb-1 ml-2"
                                href="{% url 'ideas:idea-update' idea.slug %}"
                                title={% trans "Update"%}>{% trans "Update"%}</a>
                            <a class="btn btn-danger btn-sm mt-1 mb-1 ml-2"
                                href="{% url 'ideas:idea-delete' idea.slug %}"
                                title={% trans "Delete"%}>{% trans "Delete"%}</a>
                        {% endif %}
                        </div>
                    </div>
                </div>
                <div class="idea-content mild-white-bg mt-3 mb-3">
                    {{ idea.concept | safe | linebreaks }}
                </div>
                <div class="idea-tags manage-overflow">
                  {% include "tags.html" with tags=idea.get_tags_list %}
                </div>
            </div>
        </article>
    </div>
</div>
{% endblock content %}
{% block extrabottom %}
<script
  type="text/javascript"
  src="{% static 'flag/js/flag_main.js' %}"></script>
{% endblock extrabottom %}

