asgiref==3.2.5
astroid==2.3.3
autopep8==1.5
certifi==2019.11.28
chardet==3.0.4
Django==3.0.4
django-admin==2.0.0
django-contrib-comments==1.9.2
django-crispy-forms==1.9.0
django-debug-toolbar==2.2
django-excel-base==1.0.3
django-excel-response2==3.0.1
django-fluent-comments==2.1
django-meta==1.6.1
django-six==1.0.4
django-tag-parser==3.2
django-taggit==1.2.0
django-threadedcomments==1.2
dnspython==1.16.0
feedparser==5.2.1
idna==2.9
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
# pkg-resources==0.0.0
py3-validate-email==0.2.0
pycodestyle==2.5.0
pylint==2.4.4
pylint-django==2.0.14
pylint-plugin-utils==0.6
python-akismet==0.4.1
pytz==2019.3
requests==2.23.0
screen==1.0.1
six==1.14.0
sqlparse==0.3.1
typed-ast==1.4.1
urllib3==1.25.8
wrapt==1.11.2
xlwt==1.3.0
