appdirs==1.4.3
asgiref==3.2.7
certifi==2020.4.5.1
chardet==3.0.4
Django==3.0.7
django-autocomplete-light==3.5.1
django-contrib-comments==1.9.2
django-crispy-forms==1.9.0
django-debug-toolbar==2.2
django-extensions==2.2.9
django-fluent-comments==2.1
django-meta==1.6.1
django-recaptcha3==0.2.0
django-tag-parser==3.2
django-taggit==1.2.0
django-threadedcomments==1.2
dnspython==1.16.0
feedparser==5.2.1
idna==2.9
py3-validate-email==0.2.0
python-akismet==0.4.2
pytz==2019.3
requests==2.23.0
six==1.14.0
sqlparse==0.3.1
uritools==3.0.0
urlextract==0.14.0
urllib3==1.25.9
