{% comment %}

  This was overriden to display time using cool_timesince filter.

{% endcomment %}
{% load i18n %}
{% load cool_timesince %}
<div id="c{{ comment.id }}" class="comment-item">
    {% block comment_item %}
        <h5>
        {% block comment_title %}
            {% if comment.name %}{{ comment.name|title }}{% else %}{% trans "Anonymous" %}{% endif %}
            <span class="small text-muted comment-date">{{ comment.submit_date|cool_timesince }}</span>
            {% if not comment.is_public %}<span class="comment-moderated-flag">({% trans "moderated" %})</span>{% endif %}
            {% if USE_THREADEDCOMMENTS %}<a href="#c{{ comment.id }}" data-comment-id="{{ comment.id }}" class="comment-reply-link">{% trans "reply" %}</a>{% endif %}
        {% endblock %}
        </h5>
        <div class="comment-text"><h6>{{ comment.comment|linebreaks }}</h6></div>
    {% endblock %}
</div>
